/*
  body {
      background: url(../images/skyline.jpg) no-repeat;
      background-size: cover;
  }
  */

.view {
  background: url("../images/skyline.jpg")no-repeat center center;
  background-size: cover;
}
html,
body,
header,
.view {
  height: 100%;
}

.bio {

  margin-bottom: 10%;
  margin-top: 5%;
  background-color: peach-gradient;

}

.about-me {

  text-indent: 3em;


}