header {
    height: 50px;
    width: 100%;
    background: #ffffff;
    block-size: 10%;
}

#myName
{
    background: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 15%;
    margin-right: 5px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    padding: 6px;
}
footer
{
background: #666666;
position: sticky;
bottom: 0px;
border-top: 8px;
border-color: #4aaaa5;
border-style: solid; 
}
#nav
{
    float: left;
    text-decoration: none;
    font-size: 16px;
    word-spacing: 10px;
    text-decoration-line: none;
    position: absolute;
    right: 15%;
    top: 27px;
}
#c {
    text-align: center;
    color: #ffffff;
}
.middleSection {
    margin: 2% 20% 8% 20%;
    background:#ffffff;
    height: 80%;
    padding: 30px;
    border: #dddddd;
}
h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-left: 20%;
    padding: 10px;
    border-bottom: #ffffff 2px;
}
hr {
    border-color: #ffffff;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#photo {
    height: 120px;
    width: 120px;
}
form {
    display: block;
    min-width: 50%;
}
body {
    background: #baecf0;
    margin: 0px;
}
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
  }
  
a:active {
    text-decoration: none;
  }
a {
    font-size: 25px;
    font-weight: bold;
    color: #cccccc;
}

img {
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 15px;
}

.overLay {
    position: absolute;
    background: #4aaaa5;
    bottom: 5px;
    text-align: center;
    padding: 5px 0px;
    width: 100%;
    margin: auto;
}
.portfolioImages {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 300px;
    float: left;
    position: relative;
    margin-right: 15px;
}
/*
.imageFloat {
    float: left;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline;
}