/*
  body {
      background: url(../images/skyline.jpg) no-repeat;
      background-size: cover;
  }
  */

.view {
  background: url("../images/skyline.jpg")no-repeat center center;
  background-size: cover;
}
html,
body,
header,
.view {
  height: 100%;
}

.bio {

  margin-bottom: 15%;
  margin-top: 15%;
  background-color: peach-gradient;

}

.about-me {

  text-indent: 3em;

}

.about-me-row {

  margin-top: 10%;
  margin-bottom: 25%;


}

.cards {

  margin-top: 5%;
  margin-bottom: 25%;

}

.newForm {

  background-color: slategrey;
  margin-top: 5%;
  margin-bottom: 15%;
  padding: 2%;
}

p {

  color: aliceblue;
}

body {

  background-image: url(../images/dark-paths.png);
  background-size: cover;

}


